@charset "utf-8";

a:link,
a:visited{
    text-decoration: none;
    color: #222222;
}
a:hover,
a:active,
a:focus{
    text-decoration: underline;
    color: #222222;
}

.inner {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

img {
  display: block;
}
