@charset "utf-8";
/* 정렬(align) */
.tac_{text-align: center !important;}
.tar_{text-align: right !important;}
.vat_{vertical-align: top !important;}
.vam_{vertical-align: middle !important;}

/* 숨기는 영역(skip~) */
#skipMenu{
    position: relative;
    width: 100%;
}
#skipMenu a{
    position: absolute;
    top:-100px;
}
#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus{
    position: absolute;
    top:0;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color:rgba(42, 54, 212, 0.92);
    color: #fff;
    z-index: 99;
    font-weight: 600;
    font-size: 16px;
}
.hideTxt--{
    text-indent: -9999em;
    line-height: 0;
    display: block;
}

.inner {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

caption,
legend{
    text-indent: -9999em;
    display: block;
    line-height: 0;
}


/* float 해제 */
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

/* float */
.fl_{float: left !important; }
.fr_{float: right !important;}
.fn_{float: none !important;}

.dn_{display: none !important;}

.br0_{border-right: 0 !important;}
.bl0_{border-left: 0 !important;}

/* .mobile{display: none !important;} */

/* .red{border: 3px solid red !important;}
.back{background-color: yellowgreen !important;} */

/* 
@media all and (max-width:1065px) and (min-width:801px) { 태블릿 }
@media all and (max-width:800px) {모바일}
@media all and (max-width:320px) {아이폰5}
*/

