@charset "utf-8";

/*  컨테이너(1~10)*/
#container{
    width: 100%;
    position: relative;
}
/* 1: 배너존 */
#container > .w-contents01{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 510px;
}
#container > .w-contents01 > a{
    display: block;
    height: 510px;
    width: 100%;
    position: absolute;


}
.w-contents01 > .banner0{
    background: url(../images/w_contents01_0.jpg) no-repeat center center;
    background-size: cover;
}
.w-contents01 > .banner1{
    background: url(../images/w_contents01_1.jpg) no-repeat center center;
    background-size: cover;
}
.w-contents01 > .banner2{
    background: url(../images/w_contents01_2.jpg) no-repeat center center;
    background-size: cover;
}
.w-contents01 > .banner3{
    background: url(../images/w_contents01_3.jpg) no-repeat center center;
    background-size: cover;
}
.w-contents01 > .banner4{
    background: url(../images/w_contents01_4.jpg) no-repeat center center;
    background-size: cover;
}

.visualGroup{
    border: 2px solid tomato;
    max-width: 1024px;
    height: 510px;
    margin: 0 auto;
    position: relative;
}

.visualControl > .prev{
    width: 56px;
    height: 80px;
    background: url(../images/web_icons.png) no-repeat 0 -143px;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}


.visualControl > .next{
    width: 56px;
    height: 80px;
    background: url(../images/web_icons.png) no-repeat -56px -143px;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.visualControl > .visualBtn{
  
    position: absolute;
    left: 7%;
    bottom: 3%;
}
.visualControl > .visualBtn > a{
    width: 11px;
    height: 11px;
    background-color: #eaebed;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    margin-left: 8px;
}
.visualControl > .visualBtn > a:first-child{
    margin-left: 0;
}

.visualControl > .visualBtn > a > .on{
    width: 9px;
    height: 9px;
    background-color: #333;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 1px;
    left: 1px;
}
/* -------- */

.visualGroup > .tourSearch{

}
.visualGroup > .tourSearch > h4{

}
.visualGroup > .tourSearch > form.packageForm{}
.packageForm > ul{

}
.packageForm > ul > li{
    width: 284px;
    height: 383px;
    border: 1px solid tomato;
}
.packageForm > ul > li.package{}
.packageForm > ul > li.flight{}
.packageForm > ul > li.hotel{}
.packageForm > ul > li.hotel a{}

li.hotel > ul{
    width: 284px;
    height: 383px;
}
li.hotel > ul > li{
    margin-top: 10px;
    height: 36px;
    background-color: #fff;
    border-radius: 3px;
}
li.hotel > ul > li.list01 > input{
    width: 232px;
    height: 36px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

li.hotel > ul > li.list02{
    width: 232px;
    height: 36px;
    background-color: #fff;
    border-radius: 3px;

}
li.hotel > ul > li.list02 > span{}

li.hotel > ul > li.list03{
    width: 232px;
    height: 36px;
    background-color: #fff;
    border-radius: 3px;
}


/* 하기싫어서 중단 섹션2부터 시작~ */



/* 02 */
.w-contents02{
    /* background-color: aqua; */
    width: 1420px;
    margin: 70px auto;
    position: relative;
}

.w-contents02 h3{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 20px 50px 30px;
    /* margin-left: 30px; */
}

.w-contents02 > ul.timeDealWrap{
    width: 1320px;
    margin-left: 49px;
}
.timeDealWrap > li{
    position: relative;
    float: left;
}


.timeDealWrap > li:nth-child(2){
    margin: 0 30px;
}
.timeDealWrap > li > div.timeDeal{
    width: 419px;
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid #9B51E0; */
    border-radius: 10px;
    overflow: hidden;
}
.timeDeal > a  > img{
    width: 100%;
}

.timeDealWrap > li > p{
    line-height: 50px;
    font-size: 1rem;

}

.timeDeal > span.icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: .75rem;
    font-weight: 400;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: #EB5757;
}

.timeDeal > .text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 419px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    
}

.timeDeal > .text > p{
    padding-left: 10px;
    line-height: 30px;
    color: #fff;
    font-size: 0.9rem;
}

.timeDeal > .text > p.time{
    padding-left: 38px;
    position: relative;
    background-color: #9B51E0;
    color: #fff;
    line-height: 40px;
    font-weight: 1rem;
  
    /* border: 1px solid tomato; */

}

.timeDeal > .text > p.time::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/web_icons.png) no-repeat -47px -35px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.timeDeal > .text > p > .highlight{
    color: #9B51E0;
    font-size: 1.1rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* 03 */
.w-contents03{
    width: 100%;
    position: relative;
    background-color: #63AE7F;
    margin: 70px auto;
}

.w-contents03 > div{
    height: 180px;
    display: flex;
    justify-content: center;
 
}
/* 04 */

.w-contents04{
    width: 1420px;
    position: relative;
    margin: 70px auto;
    /* background-color: yellow; */
}

.w-contents04 h3{
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 30px 50px 20px;
}

.w-contents04 > div{
    /* height: 416px; */
    /* width: 1300px; */
    display: inline-block;
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: center;

}


/* 05 */

.w-contents05{
    width: 100%;
    position: relative;
    margin: 70px 0;
    height: 680px;
    background-color: #F4F2E3;
}

.w-contents05 > .originalWrap{
    width: 1420px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    /* border: 1px solid tomato; */
}

.originalWrap > div{
    float: left;
    position: relative;
}

.originalWrap > div > a span{
    display: block;
    width: 636px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 10px;
    background-color: rgba(46, 46, 46, 0.792);
    position: absolute;
    bottom: 0;
    
}


.originalWrap > .grid{
    margin-left: 50px;
    /* border: 1px solid tomato; */
}


.w-contents05 .originalIntro{

    /* background-color: yellowgreen; */
    width: 636px;
    padding-top: 50px;
    /* height: 336px; */
    display: inline-block;
    /* font-size: 1rem; */

}


.originalIntro .par1 em{
    font-size: 0.95rem;
}
.originalIntro .par1 strong{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 10px;
}

.originalIntro p.par2{
    /* background-color: yellow; */
    margin: 20px 0;
    line-height: 1.375rem;
    color: #6A6A69;
    font-size: .75rem;
}

.originalIntro p.par2 span{
    font-weight: 600;
    font-size: 0.875rem;
}

.originalIntro .par3{
    color: #6A6A69;
    line-height: 1.375rem;
    margin-bottom: 30px;
}

.originalIntro .par3 span{
    font-weight: 600;
    font-size: .8125rem;
}


.w-contents05 .originalList{
    /* background-color: yellow; */
    /* height: 244px; */
}

.originalList > li:first-child{
    margin-bottom: 30px;
}
.originalList > li a{
    display: flex;
}
.originalList > li a img{}
.originalList > li a .text{
    margin-top: 10px;
    padding-left: 20px;
    /* background-color: violet; */
    font-size: 14px;
    line-height: 32px;
    color: #6A6A69;
}

.originalList > li a .text > strong{
    font-weight: 600;
    color: #222;
}



/* 06 */
.w-contents06{
    width: 1420px;
    position: relative;
    margin: 70px auto;
    text-align: center;

}


.w-contents06 > h3{
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;

}

.w-contents06 > ul{
    display: inline-block;
    /* text-align: center; */
    /* background-color: yellowgreen; */
}


.w-contents06 > ul li{
    float: left;
    margin-right: 60px;
}

.w-contents06 > ul li:last-child{
    margin-right: 0px;
}

.w-contents06 > ul li > a > .round{

}
.w-contents06 > ul li:hover{
    transform: scale(1.1);
}

.w-contents06 > ul li a .round{
  width: 212px;
  height: 212px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;

}
.w-contents06 > ul li a p{
    line-height: 18px;
    margin-top: 20px;
    color: #6A6A69;
}


.w-contents06 > ul li a p strong{
   font-size: 1rem;
   display: inline-block;
   margin-bottom: 10px;
   color: #222;
}


.mobile{display: none;}



/* 07 */
.w-contents07{
    width: 100%;
    position: relative;
    background-color: #64A2CE;
    margin: 70px auto;
}

.w-contents07 > div.cardAd{
    height: 164px;
    display: flex;
    justify-content: center;
 
}



/* 08 */

.w-contents08{
    width: 1420px;
    position: relative;
    margin: 70px auto;
    text-align: center;
}

.w-contents08 h3{
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.w-contents08 > .layout{
    display: inline-block;
    /* border: 1px solid tomato;     */
}

.w-contents08 div.tipBox{
    float: left;
    border: 1px solid #d6d4d4;
    border-radius: 5px;
    width: 300px;
    position: relative;
    padding: 15px;
    margin-right: 40px;
}
.w-contents08 div.tipBox:last-child{
    margin-right: 0px;
}

/* .tipBox > a {
    display: block;
} */

.tipBox > a > span{ 
    width: 40px;
    height: 40px;
    background: url(../images/tip_icon_set.png) no-repeat;
    position: absolute;
    right: 5%;
    bottom: 25%;
}

.tipBox > a span.icon01{background-position: 0 0;}
.tipBox > a span.icon02{background-position: -43px 0px;}
.tipBox > a span.icon03{background-position: -83px 0px;}
.tipBox > a span.icon04{background-position: -123px 0px;}

.tipBox > a > p{
    text-align: left;
    float: left;
    /* background-color: yellow; */
    color: #6A6A69;
    font-size: 10px;
    line-height: 15px;
}

.tipBox > a > p > span{
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #222;
}